<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>comp3095LabTest1D_VictaFrancis</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
   	<!-- servlet definitions -->
	<servlet>
		<servlet-name>LoginErrorServlet</servlet-name>
		<servlet-class>ca.reservation.library.servlet.LoginErrorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfirmationServlet</servlet-name>
		<servlet-class>ca.reservation.library.servlet.ConfirmationServlet</servlet-class>
	</servlet>
	<!-- servlet mapping -->
	<servlet-mapping>
		<servlet-name>LoginErrorServlet</servlet-name>
		<url-pattern>/LoginError</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmationServlet</servlet-name>
		<url-pattern>/confirmation</url-pattern>
	</servlet-mapping>
</web-app>